VITE_CF_WEB_ANALYTICS_TOKEN=your_cloudflare_web_analytics_token_here
VITE_GNEWS_API_KEY=your_gnews_api_key_here
VITE_CONTACT_API_ENDPOINT=/api/contact
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
TURNSTILE_ALLOWED_HOSTNAMES=localhost
RESEND_API_KEY=your_resend_api_key_here
CONTACT_FROM_EMAIL="Portfolio <contact@nickcoury.co>"
CONTACT_TO_EMAIL=nick@nickcoury.co
